/* Big tablet to 1200px */
@media only screen and (max-width:1200px) {
    html {
        font-size: 16px;
    }

    .heading-main-box {
        transform: translate(-35%, -50%);
    }

    form {
        margin-left: 30%;
    }
}

/* Small tablet to big tablet from 768px to  1023px */
@media only screen and (max-width:1023px) {
    .logo {
        width: 300px;
        margin-left: 30px;
    }

    .main-nav {
        margin-right: 15px;
        margin-top: 40px;
    }

    .main-nav li {
        margin-right: 15px;
    }

    .heading-main-box {
        transform: translate(-25%, -50%);
    }

    .product-section .btn {
        width: 80%;
        margin-left: 10%;
    }

    h3 {
        font-size: 90%;
    }

    .product-box {
        width: 95%;
    }

    .product-box ul li {
        margin-left: 5%;
    }

    .product-box .small-icon {
        margin-right: 5px;
    }

    .social-icons li {
        margin-left: 10px;
    }

    form {
        margin-left: 30%;
        width: 75%;
    }

    .information i {
        display: block;
    }

    .information li {
        font-size: 14px;
    }
}

/* Small phone to small tablets */
@media only screen and (max-width:767px) {
    .col {
        width: 100%;
    }

    .main-nav {
        display: none;
    }

    .mobile-nav-icon {
        display: block;
    }

    .logo {
        width: 400px;
        margin-left: 10%;
    }

    h1 {
        word-spacing: 2px;
        font-size: 250%;
    }

    .heading-main-box {
        transform: translate(-17%, -50%);
    }

    .heading-main-box .btn {
        width: 15%;
    }

    .about-section .row .p-long {
        font-size: 20px;
    }

    .about-picture {
        text-align: center;
    }

    .about-picture img {
        width: 70%;
    }

    .picture-title {
        font-size: 25px;
        margin-left: 6%;

    }

    .product-box {
        width: 70%;
        margin-left: 20%
    }

    .product-section .btn {
        width: 60%;
        margin-left: 20%;
    }

    .product-box ul li {
        margin-left: 20%;
    }

    .testiomonial-section .row .col {
        margin-bottom: 50px;

    }

    blockquote {
        margin-bottom: 60px;
    }

    figcaption {
        visibility: hidden;
    }

    .logo-sponsor {
        margin-bottom: 10px;
        width: 80%;
        cursor: pointer;
        transition: all .3s;
    }

    .sponsors-showcase li .logo-sponsor:hover,
    .sponsors-showcase li .logo-sponsor:active {
        transform: scale(1.2);
    }

    form {
        width: 80%;
        margin-left: 10%;
    }

    label {
        margin-left: 35%;
    }

    input[type=text],
    input[type=email],
    textarea {
        margin-left: 3px;
        width: 100%;
        font-size: 100%;
        transition: all .3s;
    }

    .information {
        margin-top: 20px;
        text-align: center;
    }

    .information li {
        font-size: 20px;
    }

    .social-icons {
        text-align: center;
        margin-bottom: 20px;
    }

    .social-icons li {
        font-size: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-nav-icon {
        right: 45px;
        top: 70px;
    }
}

/* Small phones from 0 to 480px */
@media only screen and (max-width:480px) {
    html {
        font-size: 12px;
    }

    h1 {
        font-size: 200%;
    }

    .logo {
        width: 220px;
        margin-top: 10%;
        margin-left: 20%;
    }

    .heading-main-box {
        transform: translate(-10%, -50%)
    }

    .heading-main-box .btn {
        display: block;
        margin-bottom: 20px;
        margin-left: 2%;
    }

    .information li {
        font-size: 14px;
    }

    .product-box {
        margin-bottom: 20px;
    }

    .product-section .btn {
        font-size: 14px;
        margin-left: 10%;
        width: 80%;
    }

    .social-icons li {
        font-size: 40px;
    }

    form {
        width: 90%;
        margin-left: 5%;
    }

    .mobile-nav-icon {
        right: 45px;
        top: 105px;
    }

    .sticky .logo {
        width: 200px;
        margin-top: -25px;
    }
}